[submodule "Extension/poco"]
	path = Extension/poco
	url = https://github.com/pocoproject/poco.git
[submodule "Extension/lodepng"]
	path = Extension/lodepng
	url = https://github.com/lvandeve/lodepng.git
[submodule "Extension/SPIRV-Cross"]
	path = Extension/SPIRV-Cross
	url = https://github.com/KhronosGroup/SPIRV-Cross.git
[submodule "Extension/DirectX"]
	path = Extension/DirectX
	url = https://github.com/HR1025/MMP-DirectX.git
[submodule "Extension/GLEW"]
	path = Extension/GLEW
	url = https://github.com/HR1025/MMP-GLEW.git
[submodule "Extension/Vulkan-Headers"]
	path = Extension/Vulkan-Headers
	url = https://github.com/KhronosGroup/Vulkan-Headers.git
[submodule "Codec/H264"]
	path = Codec/H264
	url = https://github.com/HR1025/MMP-H264.git
[submodule "Extension/VulkanMemoryAllocator"]
	path = Extension/VulkanMemoryAllocator
	url = https://github.com/GPUOpen-LibrariesAndSDKs/VulkanMemoryAllocator.git
[submodule "Extension/openh264"]
	path = Extension/openh264
	url = https://github.com/cisco/openh264.git
[submodule "Extension/eigen"]
	path = Extension/eigen
	url = https://github.com/HR1025/eigen.git
